# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs

# No USD files allowed in the repo
# **/*.usd
# **/*.usda
# **/*.usdc
# **/*.usdz

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# Docker/Singularity
**/*.sif
docker/cluster/exports/
docker/.container.cfg

# IDE
**/.idea/
**/.vscode/
.agents
.codex

# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp

# Doc Outputs
**/docs/_build/*
**/generated/*

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# RL-Games
**/runs/*
# **/logs/*
**/recordings/*

# Pre-Trained Checkpoints
/.pretrained_checkpoints/

# Teleop Recorded Dataset
# /datasets/

# Tests
tests/

# Docker history
.isaac-lab-docker-history

# TacSL sensor
**/tactile_record/*
**/gelsight_r15_data/*

mydocs
datasets/mytracking
scripts/tool

outputs
logs/rsl_rl/backup
backup

# 临时
# source/engineai_rl_lab/engineai_rl_lab/assets
source/engineai_rl_lab/engineai_rl_lab/assets/pm01/configuration
logs
source/engineai_rl_lab/engineai_rl_lab/assets/t800
source/engineai_rl_lab/engineai_rl_lab/assets/pm01
logs/rsl_rl/amp_velocity_flat_pm01
source/engineai_rl_lab/engineai_rl_lab/tasks/locomotion/velocity
